
<div class="container">
	<div class="row">
        <div class="span12">
            <form id="custom-search-form" class="form-search form-horizontal pull-right">
                <div class="input-append span12">
                    <input type="text" class="search-query" ng-model="q" placeholder="Search image">
                    <button type="submit" name="submit" class="btn" ng-click="search(q)"><i class="icon-search"></i></button>
                </div>
            </form>
        </div>
	</div>
</div>

